#jeux1 {
    display: none;
}

#jeux2 {
    display: none;
}

#jeux3 {
    display: none;
}

#jeux4 {
    display: none;
}

#jeux5 {
    display: none;
}

#jeux6 {
    display: none;
}